BOT_TOKEN=8907295469:AAE9jWsQXl2KU8OyJfrNVU6oTqvVpIVmftM
ADMIN_IDS=7892553498
SBP_PHONE=+79692080606
SBP_BANK=Тинькофф
CARD_NUMBER=2200 7021 6193 3408
CARD_HOLDER=AHMAD Gazdiev
SUBSCRIPTION_PRICE_RUB=500
SUBSCRIPTION_PRICE_STARS=100
SUBSCRIPTION_DAYS=30
